# Dependencias para la Suite de Auditoría de Seguridad
# --- Dependencias Fase I (Ejemplos) ---
dnspython>=2.0.0
python-whois>=0.8.0
scapy>=2.5.0
python-nmap>=0.7.1

# --- Dependencias Fase II ---
requests>=2.31.0
pysmb>=1.2.9.1
